<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>CreateData</servlet-name>
    <servlet-class>demo.CreateData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateChart</servlet-name>
    <servlet-class>demo.CreateChart</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>CreateData</servlet-name>
    <url-pattern>/createdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateChart</servlet-name>
    <url-pattern>/createChart</url-pattern>
  </servlet-mapping>

</web-app>